* {
    margin: 0px;
    padding: 0px;
}

/* Azeret Font */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Styles */
.btn-primary {
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 17px 24px;
}

/* Nav Bar */
#nav-bar {
    width: 80%;
    display: flex;
    margin: 40px auto;
    justify-content: space-between;

}

#nav-bar .nav-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hero {
    width: 100%;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    padding: 30px;

}

#hero .hero-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero .main-line {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;
}

#hero .section-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    opacity: 0.7;
}

.btn-second {
    padding: 21px 24px;
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #0D1321;
}


/* Why Web Development */
#why-web-dev {
    display: flex;
    justify-content: center;
}

#why-web-dev .why-web-dev-container {
    width: 80%;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 80px auto;
    padding: 80px 100px;
}

#why-web-dev .why-web-dev-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.why-web-dev-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 48px;
}



/* Why Web Development Cards! */
.card-main-text {
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.card-description {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    opacity: 0.7;
}

.btn-card {
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-one {
    display: flex;
    padding: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.card-two {
    display: flex;
    padding: 48px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.card-three {
    display: flex;
    padding: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

/* My Inspiration */
#my-inspiration {
    display: flex;
    justify-content: center;
}

#my-inspiration .my-inspiration-container {
    width: 80%;
}

#my-inspiration .my-inspiration-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

#my-inspiration .my-inspiration-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 48px;
}

.youtube-content {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

/* my current target */
#my-current-target {
    display: flex;
    justify-content: center;
}

.my-current-target-container {
    width: 80%;
    margin: 100px;
}

.my-c-target-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.my-c-target-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.card-c-target {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.card-c-one {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card-c-two {
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.card-c-three {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.card-c-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;

}

.card-c-description {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.card-c-link {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}


#my-next-target {
    display: flex;
    justify-content: center;
}

.my-next-target-container {
    width: 80%;
}

.my-n-target-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.my-n-target-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 48px;
}

.card-n-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-n {
    display: flex;
    padding: 40px;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.card-n-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.card-n-description {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.card-n-link {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

#support-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.support-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/handshake.jpg) lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 64px 48px;
    display: flex;
    justify-content: center;
}

.support-title {
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.support-description {
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.input-field {
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 19px 20px;
}

.input-btn {
    padding: 17px 20px;
    border-radius: 8px;
    background: #FFF;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

.support-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.footer-container {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
}